body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
}

.logo{
    font-size: larger;
    font-weight: 700;
    color: white;
}

.header {
    display: flex;
    background-color: #1F2937 ;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 400px;
}

.top-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.one{
    background-color: #1F2937;
}

/* This contains topmos */
.text-button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    gap: 12px;
    margin-right: 20px;
}


.top-text{
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 200px;
    background-color: grey;
    flex-shrink: 0;
}

.button.one{
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: #3882F6;
    font-weight: 600;
    color: white;
    padding: 6px;
    border-radius: 8px;
}

.two{
    flex-direction: column;
    gap: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.boxes{
    display: flex;
    gap: 50px;
}

.box-container{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: grey;
    gap: 12px;
    align-items: center;
    width: 195px;
    text-align: center;
}

.box{
    width: 195px;
    height: 195px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}